<div class="header">
  <div class="header-flame">
  <div class="header-title">
    <%= link_to image_tag('logo.png' , size: '90x90'), root_path %>
  </div>
  <div class="bookshelf-header-form">
      <div class="form-input">
        <input class="form-message" placeholder= "キーワード入力(タイトル・著者・メモ...)">
        <input class="form-submit" type="submit" value="検索">
      </div>
  </div>
  <div class="header-logos">
    <div class="header-logo1">
      <%= link_to image_tag('header-logo1.png' , size: '35x35'), new_book_path %>
    </div>
    <div class="header-logo2">
      <%= link_to image_tag('header-logo2.png' , size: '35x35'), '#' %>
    </div>
    <div class="header-logo3">
      <%= link_to image_tag('header-logo3.png' , size: '35x35'), '#' %>
    </div>
  </div>
  </div>
</div>