.top-header {
  width: 100%;
  height: 150px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.main-view{
  height: 100vh;
  width: 100vw;
  background-color: #fafafa;
  /*background-image: url("library.png");*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border:5px solid #272727;
}

.top-moji {
  font-size: 45px;
  opacity: 0.9;
  color: white;
  text-align: center;
  text-shadow: 0 0 6px rgba(5,5,5,5.5);
  letter-spacing: 13px;
  margin:20px 0;
  font-family: "cursive" ,cursive;
}

.icon-box {
  width: 80vw;
  display: flex;
  justify-content: space-around;
  margin-top: 150px;
  opacity: 0.8;
}

.top-footer {
  width: 100vw;
  height: 50px;
  background-color: #272727;
  border:5px solid #272727;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left-footer {
  color:white;
}

.right-footer {
  color: white;
}

li {
  list-style: none;
}